.calculadora-container {
    display: flex;    
    justify-content:flex-start;
    gap: 50px;
}

div button {
    height: 70px;
    width: 70px;
}

.calculadoraTable-container {
    display: flex;
    justify-content:flex-start;
    
}