.navbar {
    padding: 5px 0px 10px 70px;
}
#comprarTickets {
    color: green;
}

#codo {
    width: 7%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: left;
    background-image: url("./imagenes/ba1.jpg");
}