.navbar {
    padding: 5px 0px 10px 70px;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
}
#comprarTickets {
    color: green;
}

#codo {
    width: 7%;
}

.conf2 {
    width:100vw; 
	height: 700px;
    display: flex;
    flex-direction: column;    
    background-image: url(imagenes/ba1.jpg);
    color: white;
    justify-content: center;  
    align-items: flex-end ;   
}

.btn {
    color: white;
}

.container_texto {
    width: 600px;
}

