.navbar {
    padding: 5px 0px 10px 70px;
    position: static;
}
#comprarTickets {
    color: green;
}

#codo {
    width: 7%;
}

.container2 {
    display: flex;
    flex-direction: column;
    
    background-image: url(imagenes/ba1.jpg);
}

.conf {

}