/*selector*/
h2 {
    color:chocolate
}
/*clase*/
.sectionPrincipal {
    background-color:chartreuse
}

/*por ID*/
#btn {
    background-color: crimson;
}

p {
    font-size: 50px;
    font-family: sans-serif;
}